@model Vidly2.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "MoviesView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>


@if (Model.getList().Count < 1)
{
    <h3>Sorry, this catalog is empty.</h3>
    @Html.ActionLink("New Movie", "New", new { @class = "btn btn-primary" })
}
else
{
    @Html.ActionLink("New Movie", "New", new { @class = "btn btn-primary" })

    <table class="table table-bordered table-rover">

        <tr>
            <td><strong>Movie</strong></td>
            <td><strong>Genre</strong></td>
        </tr>

        @foreach (var movie in Model.getList())
        {
            <tr>
                <td> <a href="/Movies/Edit/@movie.id">@movie.name</a> </td>
                <td> @movie.Genre</td>
            </tr>
        }
    </table>
}
