@model Vidly2.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.getList().Count<1)
{
    <h3>Sorry, this list is empty.</h3>
}
else
{
    <table class="table table-bordered table-rover">

        <thead>
            <tr>
                <th>Costumer</th>
                <th>Discount Rate</th>
            </tr>
        </thead>

        @foreach (var customer in Model.getList())
        {
            <tr>
                <td> @Html.ActionLink(customer.name,"Edit","Customers", new { id = customer.id}, null) </td>
                <td>@customer.MembershipType.Name</td>
            </tr>
        }
    </table>
}

